body {
    background-color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

ul li {
    font-family: Arial;
    font-size: 17px;
    line-height: 22px;
}

ul li input {
    background-color: black;
    border: none;
    width: 80%;
    color: chocolate;
    margin-left: 5px;
    font-size: 17px;
    line-height: 22px;
    outline: none;
    font-family: Arial;
    padding: 0;
}

ul li span {
    margin-left: 5px;
    font-size: 17px;
    line-height: 22px;
    font-family: Arial;
    color: chocolate;
}